<div class="container custom-container">
    <div class="col-md-12">
      <h3 class="mb-3 text-center">Create Wallet</h3>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="wallet.number" class="form-control" placeholder="Wallet Number">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="wallet.name" class="form-control" placeholder="Wallet Name">
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="addWallet()">Create Wallet</button>
      </div>
    </div>
  </div>